---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign peer_reviewed = site.publications | where: "category", "peer-reviewed" | sort: "date" | reverse %}
{% assign pubs_by_year = peer_reviewed | group_by_exp: "item", "item.date | date: '%Y'" %}
{% assign preprints = site.publications | where: "category", "preprint" | sort: "date" | reverse %}

<div class="row">
    <div class="col-12 col-lg-10">
        <h1 class="h3 pt-4 mb-0">Publications</h1>
        <p class="text-muted">Peer-reviewed papers and preprints.</p>

        <h2 class="h4 pt-3">Peer-reviewed</h2>
        {% for year in pubs_by_year %}
        <h3 class="h5 pt-3" id="year-{{ year.name }}">{{ year.name }}</h3>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}

        {% if preprints.size > 0 %}
        <h2 class="h4 pt-5" id="preprints">Preprints</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in preprints %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
            {% if preprints.size > 0 %}
            <a class="nav-link d-block" href="#preprints">Preprints</a>
            {% endif %}
        </div>
    </div>

</div>
